In [49]:
#Import Python Libraries
import pandas as pd
import matplotlib.pyplot as plt

In [50]:
dataset = pd.read_csv('ds1.csv')

In [51]:
fert = list(dataset.Fertilizer)
dist_n = list(dataset.District_Name)
soil_c = list(dataset.Soil_color)
crop = list(dataset.Crop)
N = list(dataset.Nitrogen)
P = list(dataset.Phosphorus)
K = list(dataset.Potassium)
pH = list(dataset.pH)
rain = list(dataset.Rainfall)

In [52]:
dataset.describe()

,Nitrogen,Phosphorus,Potassium,pH,Rainfall,Temperature
count,4513.000000,4513.000000,4513.000000,4513.000000,4513.000000,4513.000000
mean,95.409927,54.341901,63.595170,6.715267,819.189010,25.915134
std,38.060648,16.551991,35.691911,0.625198,251.730813,5.897328
min,20.000000,10.000000,5.000000,5.500000,300.000000,10.000000
25%,60.000000,40.000000,40.000000,6.000000,600.000000,20.000000
50%,105.000000,55.000000,55.000000,6.500000,800.000000,25.000000
75%,125.000000,65.000000,75.000000,7.000000,1000.000000,30.000000
max,150.000000,90.000000,150.000000,8.500000,1700.000000,40.000000

In [53]:
dataset.Nitrogen.describe()

count    4513.000000
mean       95.409927
std        38.060648
min        20.000000
25%        60.000000
50%       105.000000
75%       125.000000
max       150.000000
Name: Nitrogen, dtype: float64

In [54]:
dn = list(dataset.District_Name.unique())
DN = {k: v for v, k in enumerate(dn)}
sc = list(dataset.Soil_color.unique())
SC = {k: v for v, k in enumerate(sc)}
c = list(dataset.Crop.unique())
C = {k: v for v, k in enumerate(c)}
f = list(dataset.Fertilizer.unique())
F = {k: v for v, k in enumerate(f)}

In [55]:
dataset.loc[0]
dataset.loc[dataset['Crop'] == 'Cotton']

,District_Name,Soil_color,Nitrogen,Phosphorus,Potassium,pH,Rainfall,Temperature,Crop,Fertilizer
144,Kolhapur,Red,100,40,50,6.0,800,25,Cotton,DAP
145,Kolhapur,Red,105,40,50,6.0,800,25,Cotton,DAP
146,Kolhapur,Red,110,40,50,6.0,800,25,Cotton,DAP
147,Kolhapur,Red,115,40,50,6.0,800,25,Cotton,DAP
148,Kolhapur,Red,120,40,50,6.0,800,25,Cotton,DAP
...,...,...,...,...,...,...,...,...,...,...
3957,Sangli,Black,100,30,50,6.0,700,35,Cotton,DAP
3958,Sangli,Black,105,30,50,6.0,700,35,Cotton,DAP
3959,Sangli,Black,110,30,50,6.0,700,35,Cotton,DAP
3960,Sangli,Black,115,30,50,6.0,700,35,Cotton,DAP
3961,Sangli,Black,120,30,50,6.0,700,35,Cotton,DAP

In [56]:
# fertilizer
for j in f:
        #if i == j:
            #print(fert[i],j
    print(j, fert.count(j))

Urea 1364
DAP 667
MOP 571
10:26:26 NPK 156
SSP 417
Magnesium Sulphate 215
13:32:26 NPK 66
12:32:16 NPK 106
50:26:26 NPK 124
19:19:19 NPK 480
Chilated Micronutrient 108
18:46:00 NPK 6
Sulphur 6
20:20:20 NPK 15
Ammonium Sulphate 50
Ferrous Sulphate 68
White Potash 19
10:10:10 NPK 50
Hydrated Lime 25

In [57]:
cnt  = []
DF = []
mean = []
import numpy
for j in c:
    df = pd.DataFrame(dataset.loc[dataset['Crop'] == j])
    print(j)
    print(df.mean(),"\n")
    DF.append(df)
    mean.append(df.mean())

Sugarcane
Nitrogen        131.613861
Phosphorus       70.628713
Potassium       113.980198
pH                6.864851
Rainfall       1032.376238
Temperature      26.876238
dtype: float64

Jowar
Nitrogen        54.631980
Phosphorus      37.030457
Potassium       36.598985
pH               6.757614
Rainfall       689.086294
Temperature     28.312183
dtype: float64

Cotton
Nitrogen       117.615385
Phosphorus      56.730769
Potassium       60.769231
pH               6.956154
Rainfall       827.692308
Temperature     28.076923
dtype: float64

Rice
Nitrogen         92.427184
Phosphorus       47.281553
Potassium        48.349515
pH                6.519417
Rainfall       1125.242718
Temperature      30.420712
dtype: float64

Wheat
Nitrogen        91.757858
Phosphorus      53.119907
Potassium       49.738068
pH               6.733411
Rainfall       707.450524
Temperature     20.000000
dtype: float64

Groundnut
Nitrogen        29.406780
Phosphorus      41.440678
Potassium       27.881356
pH               6.508475
Rainfall       694.915254
Temperature     27.711864
dtype: float64

Maize
Nitrogen       135.000000
Phosphorus      70.000000
Potassium       49.657143
pH               6.610000
Rainfall       572.000000
Temperature     24.800000
dtype: float64

Tur
Nitrogen        38.571429
Phosphorus      36.785714
Potassium       23.214286
pH               6.357143
Rainfall       609.523810
Temperature     28.214286
dtype: float64

Urad
Nitrogen        48.181818
Phosphorus      35.000000
Potassium       25.000000
pH               6.727273
Rainfall       690.909091
Temperature     26.616162
dtype: float64

Moong
Nitrogen        50.909091
Phosphorus      26.818182
Potassium       20.909091
pH               6.636364
Rainfall       600.000000
Temperature     30.000000
dtype: float64

Gram
Nitrogen        34.615385
Phosphorus      39.615385
Potassium       21.153846
pH               6.480769
Rainfall       719.230769
Temperature     23.269231
dtype: float64

Masoor
Nitrogen        45.00
Phosphorus      22.50
Potassium       22.50
pH               6.25
Rainfall       650.00
Temperature     22.50
dtype: float64

Soybean
Nitrogen        50.000000
Phosphorus      35.000000
Potassium       25.000000
pH               6.500000
Rainfall       344.444444
Temperature     25.000000
dtype: float64

Ginger
Nitrogen        50.00
Phosphorus      50.00
Potassium       70.00
pH               5.98
Rainfall       948.00
Temperature     27.20
dtype: float64

Turmeric
Nitrogen         39.727273
Phosphorus       39.636364
Potassium        44.909091
pH                6.181818
Rainfall       1276.363636
Temperature      24.909091
dtype: float64

Grapes
Nitrogen        90.00
Phosphorus      50.00
Potassium      130.00
pH               6.72
Rainfall       748.00
Temperature     24.80
dtype: float64

In [58]:
mean
count = 0
d = {}  # Empty dictionary to add values into
for i in range(len(c)):
    d[c[i]] = mean[i]
    count += 1

print(d.get('Sugarcane'))

Nitrogen        131.613861
Phosphorus       70.628713
Potassium       113.980198
pH                6.864851
Rainfall       1032.376238
Temperature      26.876238
dtype: float64

In [59]:
nutr = ['Nitrogen', 'Phosphorus','Potassium', 'pH', 'Rainfall', 'Temperature']

In [60]:
p = {}
for i in nutr:
    if i == 'Nitrogen':
        nit = int(input("Nitrogen: "))
        p[i] = nit
    if i == 'Phosphorus':
        phos = int(input("Phosphorus: "))
        p[i] = phos
    if i == 'Potassium':
        pot = int(input("Potassium: "))
        p[i] = pot
    if i == 'pH':
        pH = float(input("pH: "))
        p[i] = pH
    if i == 'Rainfall':
        rf = int(input("Rainfall: "))
        p[i] = rf
    if i == 'Temperature':
        temp = int(input("Temperature: "))
        p[i] = temp

print(d.get('Sugarcane') - pd.Series(p))

Nitrogen       121.613861
Phosphorus      50.628713
Potassium       83.980198
pH               1.864851
Rainfall       232.376238
Temperature     -8.123762
dtype: float64

In [66]:
avg = {}
for j in f:
    df = pd.DataFrame(dataset.loc[dataset['Fertilizer'] == j])
    for i in c:
        DF = pd.DataFrame(df.loc[df['Crop']==i])
        if DF.empty == True:
            pass
        else: 
            #print(i,j)
            print(DF)
            print(DF.mean())
            avg[i+j] == (DF.mean())

     District_Name Soil_color  Nitrogen  Phosphorus  Potassium   pH  Rainfall  \
0         Kolhapur      Black        75          50        100  6.5      1000
1         Kolhapur      Black        80          50        100  6.5      1000
2         Kolhapur      Black        85          50        100  6.5      1000
3         Kolhapur      Black        90          50        100  6.5      1000
4         Kolhapur      Black        95          50        100  6.5      1000
...            ...        ...       ...         ...        ...  ...       ...
4438          Pune      Black       130          80        135  6.5      1000
4439          Pune      Black       135          80        135  6.5      1000
4440          Pune      Black       140          80        135  6.5      1000
4441          Pune      Black       145          80        135  6.5      1000
4442          Pune      Black       150          80        135  6.5      1000

      Temperature       Crop Fertilizer
0              20  Sugarcane       Urea
1              20  Sugarcane       Urea
2              20  Sugarcane       Urea
3              20  Sugarcane       Urea
4              20  Sugarcane       Urea
...           ...        ...        ...
4438           20  Sugarcane       Urea
4439           20  Sugarcane       Urea
4440           20  Sugarcane       Urea
4441           20  Sugarcane       Urea
4442           20  Sugarcane       Urea

[345 rows x 10 columns]
Nitrogen       131.652174
Phosphorus      70.971014
Potassium      117.115942
pH               6.743478
Rainfall       995.942029
Temperature     26.710145
dtype: float64

KeyError: 'SugarcaneUrea'

In [65]:
avg

[Nitrogen       131.652174
 Phosphorus      70.971014
 Potassium      117.115942
 pH               6.743478
 Rainfall       995.942029
 Temperature     26.710145
 dtype: float64,
 Nitrogen        55.520833
 Phosphorus      37.777778
 Potassium       37.152778
 pH               6.704861
 Rainfall       690.972222
 Temperature     28.472222
 dtype: float64,
 Nitrogen         93.702703
 Phosphorus       47.594595
 Potassium        48.351351
 pH                6.481081
 Rainfall       1123.783784
 Temperature      30.540541
 dtype: float64,
 Nitrogen        92.493404
 Phosphorus      53.627968
 Potassium       49.894459
 pH               6.761214
 Rainfall       728.232190
 Temperature     20.263852
 dtype: float64,
 Nitrogen       135.000000
 Phosphorus      70.000000
 Potassium       50.000000
 pH               6.666667
 Rainfall       566.666667
 Temperature     24.666667
 dtype: float64,
 Nitrogen        38.529412
 Phosphorus      35.882353
 Potassium       22.058824
 pH               6.323529
 Rainfall       605.882353
 Temperature     27.941176
 dtype: float64,
 Nitrogen        48.181818
 Phosphorus      35.000000
 Potassium       25.000000
 pH               6.727273
 Rainfall       690.909091
 Temperature     26.212121
 dtype: float64,
 Nitrogen        50.909091
 Phosphorus      26.818182
 Potassium       20.909091
 pH               6.636364
 Rainfall       600.000000
 Temperature     30.000000
 dtype: float64,
 Nitrogen        45.00
 Phosphorus      22.50
 Potassium       22.50
 pH               6.25
 Rainfall       650.00
 Temperature     22.50
 dtype: float64,
 Nitrogen        50.000000
 Phosphorus      35.000000
 Potassium       25.000000
 pH               6.500000
 Rainfall       333.333333
 Temperature     25.000000
 dtype: float64,
 Nitrogen        50.0
 Phosphorus      50.0
 Potassium       70.0
 pH               5.9
 Rainfall       950.0
 Temperature     27.5
 dtype: float64,
 Nitrogen         40.000000
 Phosphorus       40.000000
 Potassium        45.000000
 pH                6.000000
 Rainfall       1266.666667
 Temperature      25.000000
 dtype: float64,
 Nitrogen        131.224832
 Phosphorus       70.469799
 Potassium       114.865772
 pH                6.864094
 Rainfall       1020.469799
 Temperature      26.359060
 dtype: float64,
 Nitrogen       117.509506
 Phosphorus      57.224335
 Potassium       60.570342
 pH               6.906844
 Rainfall       832.319392
 Temperature     28.136882
 dtype: float64,
 Nitrogen        48.181818
 Phosphorus      35.000000
 Potassium       25.000000
 pH               6.727273
 Rainfall       690.909091
 Temperature     26.212121
 dtype: float64,
 Nitrogen        32.142857
 Phosphorus      42.500000
 Potassium       23.214286
 pH               6.535714
 Rainfall       735.714286
 Temperature     23.214286
 dtype: float64,
 Nitrogen        45.00
 Phosphorus      22.50
 Potassium       22.50
 pH               6.25
 Rainfall       650.00
 Temperature     22.50
 dtype: float64,
 Nitrogen        50.0
 Phosphorus      50.0
 Potassium       70.0
 pH               6.1
 Rainfall       940.0
 Temperature     28.0
 dtype: float64,
 Nitrogen        131.893733
 Phosphorus       70.435967
 Potassium       110.313351
 pH                6.979564
 Rainfall       1076.294278
 Temperature      27.452316
 dtype: float64,
 Nitrogen       135.000000
 Phosphorus      70.000000
 Potassium       50.000000
 pH               6.600000
 Rainfall       573.333333
 Temperature     24.666667
 dtype: float64,
 Nitrogen        35.000000
 Phosphorus      36.071429
 Potassium       23.214286
 pH               6.392857
 Rainfall       621.428571
 Temperature     27.857143
 dtype: float64,
 Nitrogen        50.909091
 Phosphorus      26.818182
 Potassium       20.909091
 pH               6.636364
 Rainfall       600.000000
 Temperature     30.000000
 dtype: float64,
 Nitrogen        33.750
 Phosphorus      40.625
 Potassium       21.875
 pH               6.500
 Rainfall       725.000
 Temperature     23.750
 dtype: float64,
 Nitrogen        54.711538
 Phosphorus      36.442308
 Potassium       36.346154
 pH               6.756410
 Rainfall       678.205128
 Temperature     28.076923
 dtype: float64,
 Nitrogen        53.138298
 Phosphorus      36.861702
 Potassium       36.170213
 pH               6.840426
 Rainfall       704.255319
 Temperature     28.457447
 dtype: float64,
 Nitrogen        29.782609
 Phosphorus      41.739130
 Potassium       28.043478
 pH               6.630435
 Rainfall       691.304348
 Temperature     28.478261
 dtype: float64,
 Nitrogen       135.000000
 Phosphorus      70.000000
 Potassium       49.142857
 pH               6.575000
 Rainfall       575.000000
 Temperature     25.000000
 dtype: float64,
 Nitrogen        43.181818
 Phosphorus      39.090909
 Potassium       25.000000
 pH               6.363636
 Rainfall       600.000000
 Temperature     29.090909
 dtype: float64,
 Nitrogen        48.181818
 Phosphorus      35.000000
 Potassium       25.000000
 pH               6.727273
 Rainfall       690.909091
 Temperature     27.424242
 dtype: float64,
 Nitrogen        50.909091
 Phosphorus      26.818182
 Potassium       20.909091
 pH               6.636364
 Rainfall       600.000000
 Temperature     30.000000
 dtype: float64,
 Nitrogen        50.000000
 Phosphorus      35.000000
 Potassium       25.000000
 pH               6.500000
 Rainfall       333.333333
 Temperature     25.000000
 dtype: float64,
 Nitrogen       119.279070
 Phosphorus      55.116279
 Potassium       63.023256
 pH               6.997674
 Rainfall       813.023256
 Temperature     27.744186
 dtype: float64,
 Nitrogen       125.000000
 Phosphorus      50.000000
 Potassium       62.500000
 pH               6.916667
 Rainfall       900.000000
 Temperature     30.000000
 dtype: float64,
 Nitrogen       109.905660
 Phosphorus      62.971698
 Potassium       55.613208
 pH               7.018868
 Rainfall       800.943396
 Temperature     27.405660
 dtype: float64,
 Nitrogen         90.524194
 Phosphorus       46.814516
 Potassium        48.346774
 pH                6.576613
 Rainfall       1127.419355
 Temperature      30.241935
 dtype: float64,
 Nitrogen        91.177083
 Phosphorus      52.718750
 Potassium       49.614583
 pH               6.711458
 Rainfall       691.041667
 Temperature     19.791667
 dtype: float64,
 Nitrogen        29.166667
 Phosphorus      41.250000
 Potassium       27.777778
 pH               6.430556
 Rainfall       697.222222
 Temperature     27.222222
 dtype: float64,
 Nitrogen        45.00
 Phosphorus      27.50
 Potassium       12.50
 pH               6.25
 Rainfall       650.00
 Temperature     22.50
 dtype: float64,
 Nitrogen        45.00
 Phosphorus      27.50
 Potassium       12.50
 pH               6.25
 Rainfall       650.00
 Temperature     22.50
 dtype: float64,
 Nitrogen        50.000000
 Phosphorus      35.000000
 Potassium       25.000000
 pH               6.500000
 Rainfall       366.666667
 Temperature     25.000000
 dtype: float64,
 Nitrogen        50.0
 Phosphorus      50.0
 Potassium       70.0
 pH               6.0
 Rainfall       950.0
 Temperature     26.5
 dtype: float64,
 Nitrogen         40.000000
 Phosphorus       40.000000
 Potassium        45.000000
 pH                6.333333
 Rainfall       1283.333333
 Temperature      25.000000
 dtype: float64,
 Nitrogen        90.00
 Phosphorus      50.00
 Potassium      130.00
 pH               6.75
 Rainfall       750.00
 Temperature     24.00
 dtype: float64,
 Nitrogen         39.210526
 Phosphorus       38.947368
 Potassium        44.736842
 pH                6.210526
 Rainfall       1278.947368
 Temperature      24.736842
 dtype: float64,
 Nitrogen        90.00
 Phosphorus      50.00
 Potassium      130.00
 pH               6.65
 Rainfall       750.00
 Temperature     25.00
 dtype: float64,
 Nitrogen        90.0
 Phosphorus      50.0
 Potassium      130.0
 pH               6.8
 Rainfall       740.0
 Temperature     26.0
 dtype: float64]

In [62]:
summ = []
for k in range(len(avg)):
    #print(abs(avg[k].sum()-pd.Series(p).sum()))
    temp = abs(avg[k].sum()-pd.Series(p).sum())
    summ.append(temp)

In [63]:
import numpy as np
res = np.where(summ == np.min(summ))[0]
res

array([35], dtype=int64)

In [64]:
print(avg.get(np.argmin(summ)))

AttributeError: 'list' object has no attribute 'get'

In [ ]:
pd.Series(p).sum()

900.5